!!! 5

html
    head
        script(src="/socket.io/socket.io.js")
        script
            socket = io.connect('/xmpp');
            
            socket.on('connect', function (data) {
                socket.emit('login', {
                    jid: 'foo@example.com',
                    password: 'bar'
                });
            });

            socket.on('connection', function () {
                console.log('XMPP session created'); 
                socket.emit('presence');
                socket.emit('roster');
            });

            socket.on('chat', function (msg) {
                console.log('%s sent: %s', msg.from, msg.body);
            });

            socket.on('presence', function (pres) {
                console.log('%s %s: %s', 
                    pres.from, 
                    pres.type === 'unavailable' ? 'offline' : 'online', 
                    pres.status || '');
            });


            socket.on('message', function (data) {
                console.log(data);
            });
            socket.on('presence', function (data) {
                console.log(data);
            });
            socket.on('iq', function (data) {
                console.log(data);
            });
    body
        h1 Stanza.io: XMPP + socket.io
        p View source and console logs
